<div class='viewcomment' id='comment{{ comment.id }}'>
    <a class='postLink' href='{{ path("post_show", {id: comment.post.id}) }}#comment{{ comment.id }}'>
    <p class='commentauthor'>
        <object><a class='menuLink' href='{{ path("user_show_profile", {'id' : comment.user.id}) }}'>{{ comment.user.fio }}</a></object>
        <div class='commentdate'>{{ comment.dateTime|date('d.m.Y в H:i') }}</div>
    </p>
    <div class='commentcontent'>
        <p>{{ comment.content }}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a href='{{ path('comment_delete', {id: comment.id}) }}' class='link'>
                Удалить комментарий
            </a>
        {% endif %} 
    </div>
    <div>
        <a class='like' title='Нравится' href='{{ path('comment_like', {id: comment.id, postId: comment.post.id}) }}'>
            <span>&#9825; </span> {{ comment.rating }}
        </a>
    </div>
    <hr>
    </a>
</div>