<div class='viewcomment' id='comment{{ comment.id }}'>
    <a class='postLink' href='{{ path("post_show", {postId: comment.postId}) }}#comment{{ comment.id }}'>
    <p class='commentauthor'>
        <object><a class='menuLink' href='{{ path("user_show_profile") }}'>{{ comment.author }}</a></object>
        <div class='commentdate'>{{ comment.dateTime|date('d.m.Y в H:i') }}</div>
    </p>
    <div class='commentcontent'>
        <p class='commentcontent'>{{ comment.content }}</p> 
        <p class='commentcontent'>
            {% if is_granted('ROLE_ADMIN') %}
                <a href='{{ path('comment_delete', {id: comment.id}) }}' class='link'>
                    Удалить комментарий
                </a>
            {% endif %}
        </p> 
    </div>
    <div>
        <a class='like' title='Нравится' href='{{ path('comment_like', {commentId: comment.id, postId: comment.postId}) }}'>
            <span>&#9825; </span> {{ comment.rating }}
        </a>
    </div>
    <hr>
    </a>
</div>