{% extends 'blog_base.html.twig' %}

{% block title %} Пост {{ post.id }} - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    {#% dump post %#}

    <div id='singleposttitle'>
        <p class='singleposttitle'>{{ post.title }}</p>
    </div>
    <div id='singlepostauthor'>
        <p class='singlepostauthor'>
            <a class='menuLink' title='Перейти в профиль пользвателя' href='{{ path('user_show_profile', {'id': post.user.id}) }}'>
                {{ post.user.fio }}
            </a>
        </p>
        <p class='singlepostdate'>{{ post.dateTime|date('d.m.Y в H:i') }}</p>
    </div>
    <div class='singlepostimage'>
        <img src='{{ asset('images/PostImgId' ~ post.id ~ '.jpg') }}' alt='Картинка' class='singlepostimg'>
    </div>
    <div class='singleposttext'>
        <p class='singlepostcontent'>
            {% autoescape %}
                {{ post.content|raw|nl2br }}
            {% endautoescape %}
        </p>

        {% if is_granted('ROLE_MODERATOR') %}
            <a href='{{ path('post_delete', {id: post.id}) }}' class='link' style='font-size: 14pt; float: left;'>
                Удалить пост №{{ post.id }}
            </a>

            <a href='{{ path('post_edit', {id: post.id}) }}' class='link' style='font-size: 14pt; margin-left: 20%;'>
                Изменить и одобрить пост №{{ post.id }}
            </a>

            <a href='{{ path('moderator_post_approve', {id: post.id}) }}' class='link' style='font-size: 14pt; float: right;'>
                Одобрить пост №{{ post.id }}
            </a>
        {% endif %}
    </div>
{% endblock %}