<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel='stylesheet' href='{{ asset('css/style.css') }}'>
        <link rel="shortcut icon" href="{{ asset('images/logo.jpg') }}" type="image/x-icon">
    </head>
    <body>
    <div class='allwithoutmenu'>
        <div class='content'>
        <nav>
            <div id="logo">
                <a class="logo" title="На главную" href='{{ path('post_main') }}'>
                    <img id='imglogo' src='{{ asset('images/logo.jpg') }}' alt='Лого'>
                    <div id='namelogo'>Просто Блог</div>
                </a>
            </div>
            <div id="menu">
                <ul class='menuList'>
                {% if (sessionUserId) %} {# app.user.user_id ?? false #}
                    <li>
                        <input type='submit' form='exit' value='Выйти' class='menuLink'>
                        <form id='exit' action='' method='post'>
                            <input type='hidden' value='' name='exit'>
                        </form>
                    </li>
                    {% if (isSuperuser) %} {# app.user.is_superuser ?? false #}
                    <li><a class='menuLink' href='/admin'>Админка</a></li>
                    {% endif %}
                {% else %}
                    <li><a class='menuLink' href='/user/login'>Войти</a></li>
                {% endif %}
                    <li><a class='menuLink' href='/user/cabinet'>Мой профиль</a></li>
                    <li><a class='menuLink' href='/search'>Поиск</a></li>
                    <li><a class='menuLink' href='/public/post/add'>Создать новый пост</a></li>
                </ul>
            </div>
        </nav>