<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %} Главная - Просто Блог {% endblock %}

        </title>
        {% block css %}
        <link rel='stylesheet' href='{{ asset('css/style.css') }}'>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('images/logo.jpg') }}" type="image/x-icon">
    </head>
    <body>
        <nav>
            {% block menu %}

                <div id="logo">
                    <a class="logo" title="На главную" href='{{ path('post_main') }}'>
                        <img id='imglogo' src='{{ asset('images/logo.jpg') }}' alt='Лого'>
                        <div id='namelogo'>Просто Блог</div>
                    </a>
                </div>
                <div id="menu">
                    <ul class='menuList'>

                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <form id='exit' action='{{ path('user_logout') }}' method='post'>
                                <input style='padding-left:0; padding-right:0;' type='submit' form='exit' value='Выйти' class='menuLink'>
                            </form>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a class='menuLink' href='{{ path('admin_main') }}'>Админка</a></li>
                        {% endif %}
                    {% else %}
                        <li><a class='menuLink' href='{{ path('user_login') }}'>Войти</a></li>
                    {% endif %}
                        <li><a class='menuLink' href='{{ path('user_show_profile') }}'>Профиль</a></li>
                        <li><a class='menuLink' href='{{ path('search_posts') }}'>Поиск</a></li>
                        <li><a class='menuLink' href='{{ path('post_show_add') }}'>Добавить пост</a></li>
                    </ul>
                </div>
            {% endblock %}
        </nav>
        <div class='content'>

            {% block content %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div style='margin-left:30%;'>
                            <p class='{{ label }}' style='position:absolute; margin-top: -6vmin;'>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                <h1>Наилучший источник информации по теме "Путешествия"</h1>
                <div class='contentsinglepost'><p class='center'style='color: rgb(150, 20, 20);'>Нет информации для отображения</p></div>
            {% endblock %}
        </div>
        <footer>

            {% block footer %}
                <p>Сайт Вячеслава Бельского &copy; 2021-{{ date()|date('Y') }}</p>
            {% endblock %}
        </footer>
    </body>
</html>