
<div class='{{ class }}'>
    <a class='postLink' href='{{ path('post_show', {postId: post.id}) }}'>
        <div class='posttext'>
            <p class='posttitle'>{{ post.title }}</p>
            <p class='postcontent'>{{ post.content|striptags }}</p>
            <p class='postdate'>{{ post.dateTime|date('d.m.Y в H:i') }} &copy; {{ post.author }}</p>
            <p class='postrating'>
                {% if post.countRatings %}
                    Рейтинг: {{ post.rating }}, оценок: {{ post.countRatings }}, комментариев: {{ post.countComments }}
                {% else %}
                    Нет оценок. Будьте первым! Kомментариев: {{ post.countComments }}
                {% endif %}
            </p>
            {% if is_granted('ROLE_ADMIN') %}
                <div class='submitunder'>
                    <form action='{{ path('post_delete', {id: post.id}) }}' method='post'>
                        <input type='submit' value='Удалить пост с ID = {{ post.id }}' class='link'>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class='postimage'>
            <img src='{{ asset('images/PostImgId' ~ post.id ~ '.jpg') }}' alt='Картинка'>
        </div>
    </a>
</div>