
<div class='{{ class }}'>
    <a class='postLink' href='{{ path('post_show', {id: post.id}) }}'>
        <div class='posttext'>
            <p class='posttitle'>{{ post.title }}</p>
            <p class='postcontent'>{{ post.content|striptags }}</p>
            <p class='postdate'>{{ post.dateTime|date('d.m.Y в H:i') }} &copy; {{ post.user.fio }}</p>
            <p class='postrating'>
                {% if post.ratingPosts.count %}
                    Рейтинг: {{ post.rating }}, оценок: {{ post.ratingPosts.count }}, комментариев: {{ post.comments.count }}
                {% else %}
                    Нет оценок. Будьте первым! Kомментариев: {{ post.comments.count }}
                {% endif %}
            </p>
            {% if is_granted('ROLE_ADMIN') %}
                <div class='submitunder'>
                    <a href='{{ path('post_delete', {id: post.id}) }}' class='link'>
                        Удалить пост с ID = {{ post.id }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class='postimage'>
            <img src='{{ asset('images/PostImgId' ~ post.id ~ '.jpg') }}' alt='Картинка'>
        </div>
    </a>
</div>