{% extends 'blog_base.html.twig' %}

{% block title %} Добавление поста - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <p class='formname'>Форма добавления поста:</p>
    <div class='addpostform'>

        {{ form_start(form) }}
            {{ form_row(form.title, {
                label: 'Заголовок: '
            }) }}

            <p class='addpostlabel'>
                Допускаются jpg весом до {{ max_size_of_image / 1024 / 1024 }} мегабайт
            </p>
            {{ form_row(form.image, {
                label: 'Картинка: '
            }) }}

            {{ form_row(form.content, {
                label: 'Содержание поста: '
            }) }}
            <input type='submit' value='Добавить пост' class='addpostsubmit'>
        {{ form_end(form) }}   

    </div>
{% endblock %}