{% extends 'post/home.html.twig' %}

{% block title %} Все посты - Просто Блог {% endblock %}

{% block content %}
    <div class='singleposttext'>
        <label for='number'>Количество: </label>
        <select id='number' class='select' name="number" onchange="window.location.href=this.options[this.selectedIndex].value">
            <option value='$numberOfPosts' selected>{{ numberOfPosts }}</option>
            <option value='{{ path(nameOfPath) }}/?number=25&page={{ page }}'>25</option>
            <option value='{{ path(nameOfPath) }}/?number=50&page={{ page }}'>50</option>
            <option value='{{ path(nameOfPath) }}/?number=100&page={{ page }}'>100</option>
        </select>

        <label style='margin-left:2vmin;' for='page'>Страница: </label>
        <select id='page' class='select' 
            name="page" onchange="window.location.href=this.options[this.selectedIndex].value">
            <option value='{{ page }}' selected>{{ page }}</option>
                {% for i in page - 3.. page + 3 %}
                    {% if i > 0 %}
                        <option value='{{ path(nameOfPath) }}/?number={{ numberOfPosts }}&page={{ i }}'>{{ i }}</option>
                    {% endif %}
                {% endfor %}
        </select>
    </div>
    {% if posts %}
        {% dump posts %}
        {% for post in posts %}
            <div class='viewpost'>
                <a class='postLink' href='{{ path('post_show', {post_id: post.id}) }}'>
                    <div class='posttext'>
                        <p class='posttitle'>{{ post.title }}</p>
                        <p class='postcontent'>{{ post.content|striptags }}</p>
                        <p class='postdate'>{{ post.date_time|date('d.m.Y в H:i') }} &copy; {{ post.author }}</p>
                        <p class='postrating'>
                            {% if post.count_ratings %}
                                Рейтинг: {{ post.rating }}, оценок: {{ post.count_ratings }}, комментариев: {{ post.count_comments }}
                            {% else %}
                                Нет оценок. Будьте первым! Kомментариев: {{ post.count_comments }}
                            {% endif %}
                        </p>
                    </div>
                    <div class='postimage'>
                        <img src='/images/PostImgId{{ post.id }}.jpg' alt='Картинка'>
                    </div>
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                <div class='submitunder'>
                    <input type='submit' form='deletePostById{{ post.id }}' value='Удалить пост с ID = {{ post.id }}' class='link'>
                    <form id='deletePostById{{ post.id }}' action='{{ path('post_delete', {id: post.id}) }}' method='post'>
                        <input type='hidden' value='{{ post.id }}' name='deletePostById'>
                    </form>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class='contentsinglepost'><p class='center'style='color: rgb(150, 20, 20);'>Нет информации для отображения</p></div>
    {% endif %}
{% endblock %}