{% extends 'blog_base.html.twig' %}

{% block title %} Пост {{ post.id }} - Просто Блог {% endblock %}

{% block content %}
   {% dump(post) %}
    <div id='singleposttitle'>
        <p class='singleposttitle'>{{ post.title }}</p>
    </div>
    <div id='singlepostauthor'>
        <p class='singlepostdate'>{# post.rating #}</p>
        {# ratingArea() #}
        <p class='singlepostauthor'><a class='menuLink' title='Перейти в профиль пользвателя' href='{{ path('user_show_cabinet') }}'>Автор: {{ post.userId }}{# post.author #}</a></p>
        <p class='singlepostdate'>{{ post.dateTime|date('d.m.Y в H:i') }}</p>
    </div>
    <div class='singlepostimage'>
        <img src='images/PostImgId{{ post.id }}.jpg' alt='Картинка' class='singlepostimg'>
    </div>
    <div class='singleposttext'>
        <p class='singlepostcontent'>{{ post.content|nl2br }}</p>
    </div> 
    {# linkToDelete #}


    <div class='addcomments' id='comment'>
        <p class='center'>Добавьте комментарий:</p>
        <div class='addcomment'>
            <form action='{{ path('post_show', {post_id: post.id}) }}{{ post.id }}#comment' method='post'>
                <input type='hidden' name='post_id' value="{{ post.id }}" >
                <textarea name='addCommentContent' required  minlength="1" maxlength='500' wrap='hard' 
                    placeholder="Опишите ваши эмоции :-) (до 500 символов)" id='textcomment'></textarea>
                <br>
                <input type='submit' value='Добавить комментарий' class='formsubmit'>
            </form>
        </div>
    </div>

    {% if comments %}
        {% dump(comments) %} 
        {% for comment in comments %}
            <div class='viewcomment' id='comment{{ comment.id }}'>
                <p class='commentauthor'>
                    <a class='menuLink' href='{{ path('user_show_cabinet') }}'>{{ comment.userId }}</a>
                    <div class='commentdate'>{{ comment.dateTime|date('d.m.Y в H:i') }}</div>
                </p>
                <div class='commentcontent'>
                    <p class='commentcontent'>{{ comment.content }}</p> 
                    <p class='commentcontent'>{# <?= $linkToDelete ?> #}</p> 
                </div>
                <div class='like'>
                    <form action='{{ path('post_show', {post_id: post.id}) }}#comment{{ comment.id }}' method='post'>
                        <input type='hidden' name='post_id' value="{{ comment.postId }}" >
                        <label id='heartlike' title="Нравится" for='like{{ comment.id }}'>
                            <span class='like'>&#9825; </span>
                            {# <?= $comment['rating'] ?> #}
                        </label>
                        <input type="submit" class='nodisplay' id="like{{ comment.id }}" name="comment_id_like" value="{{ comment.id }}">
                    </form>
                </div>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <div class='contentsinglepost'><p class='center' style='color: rgb(150, 20, 20);'>Нет комментариев для отображения</p></div>
    {% endif %}
{% endblock %}