{% extends 'blog_base.html.twig' %}

{% block title %} Пост {{ post.id }} - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <div id='singleposttitle'>
        <p class='singleposttitle'>{{ post.title }}</p>
    </div>
    <div id='singlepostauthor'>
        <p class='singlepostdate'>
            {% if post.ratingPosts.count %}
                Рейтинг: {{ post.rating }}, оценок: {{ post.ratingPosts.count }}, комментариев: {{ post.comments.count }}
            {% else %}
                Нет оценок. Будьте первым! Kомментариев: {{ post.comments.count }}
            {% endif %}
        </p>
        
        <div class="rating-area">
            <form action='{{ path('post_rating', {id: post.id}) }}' method='post'>
                <label class='star' title="Оценка «1»">&#9734;
                    <input type="submit" name="rating" value="1">
                </label>
                <label class='star' title="Оценка «2»">&#9734;
                    <input type="submit" name="rating" value="2">
                </label>
                <label class='star' title="Оценка «3»">&#9734;
                    <input type="submit" name="rating" value="3">
                </label>
                <label class='star' title="Оценка «4»">&#9734;
                    <input type="submit" name="rating" value="4">
                </label>
                <label class='star' title="Оценка «5»">&#9734;
                    <input type="submit" name="rating" value="5">
                </label>
            </form>
        </div>

        <p class='singlepostauthor'><a class='menuLink' title='Перейти в профиль пользвателя' href='{{ path('user_show_profile', {'id': post.user.id}) }}'>{{ post.user.fio }}</a></p>
        <p class='singlepostdate'>{{ post.dateTime|date('d.m.Y в H:i') }}</p>
    </div>
    <div class='singlepostimage'>
        <img src='/public/images/PostImgId{{ post.id }}.jpg' alt='Картинка' class='singlepostimg'>
    </div>
    <div class='singleposttext'>
        <p class='singlepostcontent'>{{ post.content|nl2br }}</p>

        {% if is_granted('ROLE_ADMIN') %}
            <form action='{{ path('post_delete', {id: post.id}) }}' method='post'>
                <input type='submit' value='Удалить этот пост' class='link' style='font-size: 14pt'>
            </form>
        {% endif %}

        <p class='singlepostcontent'> Тэги: 
            {% if post.postTags.count %}
                {% for tag in post.postTags %}
                    <a class='link' href='{{ path('search_posts', {search: tag.tag}) }}'>{{ tag.tag }}</a>
                {% endfor %}
            {% else %}
                Нет тэгов
            {% endif %}
        </p>
    </div>

    <div class='addcomments' id='addcomment'>
        <div class='addcomment'>
            {{ form_start(form, {'action': path('comment_add', {id: post.id})}) }}
                {{ form_row(form.content, {
                    label: 'Прокомментируйте пост: '
                }) }}
                {{ form_row(form.submit, {
                    label: 'Добавить комментарий'
                }) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% if post.comments %}
        {% for comment in post.comments %}
            {{ include('comment/_comment.html.twig') }}
        {% endfor %}
    {% else %}
        <p class='center'>Никто не имел чести оставить комментарий. Будьте первым!</p>
    {% endif %}
{% endblock %}