<div class='viewpost'>
    <a class='postLink' title='Перейти в профиль' href='{{ path('user_show_profile', {'id': user.id}) }}'>
        <div class='posttext'>
            <p class='posttitle'> ФИО(псевдоним): {{ user.fio }}</p>
            <p class='posttitle'> Email: {{ user.email }}</p>
            <p class='posttitle'> Дата регистрации: {{ user.dateTime|date('d.m.Y в H:i') }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <p class='posttitle'> Права: {{ user.roles[0] }}</p>
                <p class='postdate'><a href='{{ path('admin_delete_user', {'id': user.id}) }}' class='link'>
                    Удалить {{ user.roles[0] }}-a
                </a>
                </p>
            {% endif %}
        </div>
    </a>
</div>