{% extends 'blog_base.html.twig' %}

{% block title %}Вход - Просто Блог{% endblock %}

{% block content %}
<div class='formentry'>
    <p class='formname'>Вход в аккаунт</p>

    {{ form_start(form) }}
        {{ form_row(form._username, {
            label: 'Введите е-mail:'
        }) }}
        {{ form_row(form._password, {
            label: 'Введите пароль:'
        }) }}

        <p><a class='link' href='{{ path('user_show_recovery') }}'>Забыли пароль?</a></p>

        {% if error %}
            <div class='formmsg'>
                <p class='error'>{{ error }}</p>
            </div>
        {% endif %}

        <div id='left'><a class='formbutton' href='{{ path('user_register') }}'>Создать аккаунт</a></div>
        <div id='right'><button type='submit' class='formsubmit'>Войти</button></div>

        {{ form_row(form._token) }}

    {{ form_end(form, {render_rest: false}) }}
</div>
{% endblock %}