{% extends 'blog_base.html.twig' %}

{% block title %} Профиль {{ user.getFio }} - Просто Блог {% endblock %}

{% block content %}
    {{ include('_blog_flashes.html.twig') }}

    <h1>Профиль пользователя: {{ user.fio }}
        <p>E-mail: {{ user.email }}</p>

        {% if ( user.roles[0] == 'ROLE_ADMIN' ) %}
            <p style='font-size: 13pt; color: green;'>Является администратором этого сайта</p>
        {% endif %}
        
        {% if ( app.user and user.id == app.user.id ) %}
            <a 
                class='link' 
                style='font-size:13pt;' 
                title='Изменить параметры профиля' 
                href=''
            >
                Изменить параметры профиля
            </a>
        {% endif %}
        
        {% if can_subscribe %}
            <a href='{{ path('user_subscribe', {userId: user.id}) }}' style='font-size:13pt;' class='link'>
                {% if is_subscribe %}
                    Отписаться
                {% else %}
                    Подписаться
                {% endif %}
            </a>
        {% endif %}
    </h1>

        <br><p class='singleposttext'>Посты от автора (последние {{ number_of_results }}) <a class='link' href='{{ path('search_posts', {search: user.fio}) }}'>Посмотреть все</a> &copy; {{ user.fio }}:</p>
        {% if posts %}
            {% set class = 'viewpost' %}
            {% for post in posts %}
                {{ include('post/_post.html.twig') }}
            {% endfor %}
        {% else %}
            <p class='center'>Нет информации для отображения</p>
        {% endif %}

        <p class='singleposttext'>Комментарии автора (последние {{ number_of_results }}) &copy; {{ user.fio }}:</p>
        {% if comments %}
            {% for comment in comments %}
                {{ include('comment/_comment.html.twig') }}
            {% endfor %}
        {% else %}
            <p class='center'>Нет комментариев для отображения</p>
        {% endif %}

        <p class='singleposttext'>Оценённые посты (последние {{ number_of_results }}) &copy; {{ user.fio }}:</p>
        {% if likedPosts %}
            {% set class = 'viewpost' %}
            {% for post in likedPosts %}
                {{ include('post/_post.html.twig') }}
            {% endfor %}
        {% else %}
            <p class='center'>Нет информации для отображения</p>
        {% endif %}

        <p class='singleposttext'>Понравившиеся комментарии (последние {{ number_of_results }}) &copy; {{ user.fio }}:</p>
        {% if likedComments %}
            {% for comment in likedComments %}
                {{ include('comment/_comment.html.twig') }}
            {% endfor %}
        {% else %}
            <p class='center'>Нет комментариев для отображения</p>
        {% endif %}
{% endblock %}