{% extends 'blog_base.html.twig' %}

{% block title %} Регистрация - Просто Блог {% endblock %}

{% block content %}
    <div class='formentry'>
        <p class='formname'>Регистрация</p>

        {{ form_start(form) }}
            {{ form_row(form.email, {
                label: 'Ваша почта'
            }) }}
            {{ form_row(form.fio, {
                label: 'ФИО или псевдоним (будут видны всем)'
            }) }}
            {{ form_row(form.plainPassword, {
                label: 'Придумайте надёжный пароль'
            }) }}
            {{ form_row(form.agreeTerms, {
                label: 'Соглашаюсь с правилами сайта'
            }) }}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_row(form.addAdmin, {
                    label: 'Добавить администратора (есть права модератора)'
                }) }}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.addModerator, {
                    label: 'Добавить модератора'
                }) }}
            {% endif %}

            {{ form_row(form._token) }}
            {{ include('_blog_flashes.html.twig') }}
            <br>
            <div id='right'>
                <button type='submit' class='formsubmit'>Создать аккаунт</button>
            </div>
        {{ form_end(form, {render_rest: false}) }}   
    </div>
{% endblock %}