{% extends 'blog_base.html.twig' %}

{% block title %} Редактирование профиля - Просто Блог {% endblock %}

{% block content %}
    <div class='formentry'>
        <p class='formname'>Редактирование информации профиля</p>

        {{ form_start(form) }}
            {{ form_row(form.email, {
                label: 'Ваша почта'
            }) }}
            {{ form_row(form.fio, {
                label: 'ФИО или псевдоним (будут видны всем)'
            }) }}
            {{ form_row(form.plainPassword, {
                label: 'Придумайте надёжный пароль'
            }) }}
            {{ form_row(form.agreeTerms, {
                label: 'Соглашаюсь с правилами сайта'
            }) }}
            {{ form_row(form._token) }}
                
            {{ include('_blog_flashes.html.twig') }}
            <br>
            <div id='right'>
                <button type='submit' class='formsubmit'>Сохранить</button>
            </div>
        {{ form_end(form, {render_rest: false}) }}
    </div>
{% endblock %}